body {
     background: url(http://answering-1253124701.cossh.myqcloud.com/person/images/x1.jpg) no-repeat 0px 0px;
    background-size: cover;
    background-attachment: fixed;
    font-family: "隶书";
}